<p style="color: red;">
  {{ heroName }}
</p>
<p>What is his real name?</p>
<div class="form-check">
  <input class="form-check-input" type="radio" value="Bruce Wayn" [(ngModel)]="realName">
  <label class="form-check-label">
    Bruce Wayn
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" value="Bruce Wayne" [(ngModel)]="realName">
  <label class="form-check-label">
    Bruce Wayne
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" value="Bruce Wayneee" [(ngModel)]="realName">
  <label class="form-check-label">
    Bruce Wayneee
  </label>
</div>
<br/>
<button class="btn btn-warning" (click)="checkName()">Check result</button>
<br/>
