<div class="container">
  <div class="row justify-content-center">
    <div class="col col-8">
      <h5>String interpolation</h5>
      <p>{{message}}</p>
      <hr/>
      
      <h5>Property binding</h5>
      <img [src]="imageUrl" />
      <hr/>
      <br/>
    </div>

    <div class="col col-8">
      <h5>Event binding</h5>
      <div class="form-group">
        <label>Hero name</label>
        <input type="text" class="form-control" placeholder="E.g. Batman" [(ngModel)]="message">
      </div>
      <button class="btn btn-primary" (click)="resetMessage()">Click me</button>
    </div>

    <div class="col col-8">
      <app-hero [heroName]="message" (checkHeroName)="checkName($event)"></app-hero>
      
      <div *ngIf="correctResult; else wrongGuess" style="color:green">Yay you got it right</div>
      <ng-template #wrongGuess >
        <div style="color:red"> Oh no, try again</div>
      </ng-template>

      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>

  </div>
</div>
